.contenedorFooter {
  color: #fff;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

.lista {
  display: flex;
}


.title {
  font-size: 25px;
  margin-bottom: 25px;
}

.subtitle {
  word-break: break-word;
  font-weight: 300;
  width: 10em;
}

.links {
  margin-left: 4em;
  margin-bottom: 2em;
  margin-right: 4em;
}

.overons {
  margin-top: 2em;
  margin-bottom: 1em;
}

.social {
  margin-bottom: 1em;
}
.counters {
  margin-bottom: 1em;
}

.company {
  margin-bottom: 2em;
  margin-right: 4em;
}

.terms {
  margin-top: 2em;
  margin-bottom: 1em;
}

.privacy {
  margin-bottom: 1em
}


.k12 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.number {
  margin-bottom: 1em;
}

.copy {
  line-height: 6em;
}
